html,body
{
   
    font-size: 20px;
text-align: left;
    background:url("../pic/black.jpg") no-repeat fixed;
 color: white;
    -webkit-background-size:cover;
-moz-background-size:cover;
-o-background-size:cover;
}

.btn {
display: inline-block;
padding: 20px 20px;
margin-bottom: 0;
font-size: 14px;
font-weight: 400;
line-height: 1.42857143;
text-align: center;
white-space: nowrap;
vertical-align: middle;
-ms-touch-action: manipulation;
touch-action: manipulation;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
background-image: none;
border: 1px solid transparent;
border-radius: 4px;
}